.header {
  background-color: rgba(114, 118, 231, 0.35);
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px 15px 0 0;
  padding: 1rem;
  width: 860px;
  height: 160px;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay__header {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    178.58deg,
    #9430f9 3.72%,
    rgba(170, 124, 205, 0.088) 98.79%
  );
  border-radius: 15px 15px 0 0;
}

.header-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.header-header p {
  font-weight: bold;
  font-size: 1.2rem;
}
.header > * {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: capitalize;
}

.numTask,
.day {
  font-weight: bold;
  font-size: 1.2rem;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  z-index: 99;
}

.addTask {
  background: #a167dc;
  box-shadow: 0px 4px 6px rgba(197, 136, 244, 0.15);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: white;
  font-size: 1.6rem;
  position: absolute;
  right: 5rem;
  bottom: -1.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.addTask:hover {
  background: #8456b3;
}
@media only screen and (max-width: 900px) {
  /*  container fixed header */
  .header {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
    width: 100%;
    height: 140px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }

  .overlay__header {
    border-radius: 0;
  }
}
